In [1]:
#use car sales data set for this assignment

In [ ]:
#print the number of rows from this data set

In [ ]:
#print the index of the data frame

In [ ]:
#print the number of columns

In [ ]:
#Print a list of manufacturers in the data set

In [ ]:
#print the total of Sales_in_thousands column

In [ ]:
#show the maximum price of car in all categories of Vehicle_type

In [ ]:
#print the model whose horsepower is the maximum

In [ ]:
#drop column with the highest number of NA. DON'T make the change permanent

In [ ]:
#show the name of manufacture whose sales were highest

In [ ]:
#show data of cars whose latest launch was in 2011

In [ ]:
#show data of cars whose fuel efficiency was between 10 to 15

In [ ]:
#show count of vehicles in every vehicle type. Visualize your output as a graph